*{
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 80%;
    max-width: 500px;
    margin: 1.6em auto;
}

.contenedor h1{
   text-align: center;
}

form{
    display: flex;
    padding: 25px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"]{
    outline:none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
     
}

input[type="text"]:hover{
    border-bottom: 1px solid rgba(8, 8, 250, 0.712);;
}


.btn-submit{
    border:none;
    padding: 5px;
    border-radius:3px;
    outline:none;
    font-size:16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: #20dad8;
}

.btn-submit:hover{
    background-color:#12707f;
}