@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size:16px;
  font-family: 'Klee One', cursive;
}

.Principal{
  width:80%;
  max-width: 1000px;
  display:grid;
  grid-template-columns:30% 80%;
}

.main-doc{
  grid-area: 1/2;
  padding: 40px;
}

.main-doc ul li{
  list-style: none;
}

.main-doc article{
  margin: 20px;
}

.navbar{
  position: fixed;
  grid-area: 1/1;;
  height: 100%;
  border-right: 1px solid black;
  border-color: rgba(0, 22, 22, 0.4);
}

.navbar li{
  list-style: none; 
  margin:10px 20px 10px 20px;
}

.navbar li a{
  color:black;
  text-decoration: none;
}

.navbar li a:hover{
  color: rgb(144, 144, 144);
}

/*Cuerpo de pagina*/
header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

section article{
    color: black;
    font-size: 0.97em;
    margin: 15px;
  }

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

code {
    white-space: pre-line;
    display: block;
    text-align: left;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
}

article ul li{
    margin: 40px;
  }

  