* {
	margin: 0;
	padding: 0;
}

body {
	background: #445995;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
/*Menu Principal*/
.navigation ul{
	margin:0;
	padding:0;
	box-shadow: 0px 0px 5px 1px black;
	background: #7d94f1;
	display:flex;
	list-style: none; 
	
}

.navigation li:hover{
	background-color: #12203E;
	
}


.navigation li a {
	display:block;
	color: #fff;
	text-decoration: none;
	padding:15px 20px;
	
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "navigation navigation navigation"
						 "contenido contenido contenido"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
	background: #7d94f1;
	padding: 20px;
	box-shadow: 0px 0px 5px 1px black;
	border-radius: 4px;
}

.contenedor .header {
	background: #7d94f1;
	color: #fff;
	text-align: center;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
}


.contenedor .navigation {
	grid-area: navigation;
}

.contenedor .footer {
	background: #7d94f1;
	color: #fff;
	text-align: center;
	grid-area: footer;
}

.cardBox{
    display: grid;
    /*Tamaño que ocupa las columnas*/
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap:1em;
}


/*Card*/
.cardBox .Card {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	width: 230px;
	background-color: rgb(255, 255, 255);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: rgb(0, 10, 20) 0px 20px 30px -10px;
	overflow: hidden;
	margin: 20px;
	text-align: center;
	justify-self: center;
	transition: all 0.25s ease;
  }
  
  .cardBox .Card:hover {
	cursor: pointer;
  }
  
  .cardBox .Card .start {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5em;
	font-weight: bold;
	color: #fff;
	background-color: rgba(221, 18, 194, 0);
	width: 100%;
	height: 100%;
  }
  
  .card-stats {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	background: rgba(107, 4, 47, 0.767);
  }
  
  .cardBox .Card img {
	max-inline-size: 100%;
	block-size: auto;
	height: 130px;
  }
  
  .card-stats .stat {
	display: flex;
  
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	padding: 5px;
  }
  
  .card-text {
	margin: 5px;
  }
  .card-text .date {
	color: rgb(150, 33, 81);
	font-size: 14px;
  }
  .card-text p {
	color: grey;
	font-size: 15px;
	padding: 3px;
	font-weight: 300;
  }
  
  .card-text h2 {
	margin-top: 0px;
	font-size: 26px;
  }
  
  .cardBox .Card:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
	  rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transform: scale(1.05);
  
	/* box-shadow:0 12px 16px rgba(0,0,0,0.2);
	  transform: translateY(-15px);
	  cursor: pointer;*/
  }
  /*Card end*/
  